body{
    background-color: aquamarine;
    background-image: url(E:/freecodecamp/Diseno_web/Fromulario_de_encuesta/img/imagen2.jpg);
    background-size: cover;
}

h1{
    color:#cab125d5;
    margin-top:50px;
    text-align: center;
    font-style: normal;
    font-size: 60px;
    }

#description{
    text-align: center;
    color: darkkhaki;
}

section{
    border-radius: 10px;
    background-color: rgba(153, 168, 214, 0.5);
    padding: 8%;
    margin: 5% 20% 5% 20%;
}

.box1{
    border-radius: 3px;
    border: 2px solid #ccc!important;
    padding: 8px;
    display: block;
    width: 100%;
}

label, .label1, p{
    font-family: Comic Sans MS, Comic Sans, cursive;
    color:rgb(30, 42, 80);
}

label{
    font-size: 20px;
}

.label1{
    
    font-size: 20px;
    padding:5px;
    text-align:left ;
}
p{
    
    font-size: 25px;
}
.derechos{
    text-align: center;
    background-color: rgba(125, 152, 230, 0.7);
}

#submit{
   display: block;
   align-content:center;
   background-color: brown;
   width: 100%;
   height: 50px;

 }
 #submit:hover{
    background-color:#cab125d5 ;
    color:brown;
}

#name, #email, #apellido, #apodo ,#number, .areatexto, #dropdown1, #dropdown{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: rgba(125, 152, 230, 1);
    color:#e0dfc6;    
 }

 .areatexto, #submit , #dropdown1, #dropdown{
    border: 2px solid #ccc;
    border-radius: 5px;

 }
 #number, #hombre{
     border-radius: 3px;
     border:2px solid #e0dfc6;
 }

.areatexto{
    color:#e0dfc6;
    width: 100%;
 }

 #dropdown1, #dropdown{
     display: block;
     width: 100%;
     color:  #e0dfc6;
 }